@import "styles";

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: block;
}

.header-container
{
    height: $header-footer-height;
    position: fixed;
    top:0;   
    left:0;
    width: 100%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);   
    background: $main-background-color;
    color: $main-foreground-night-mode-color;
    z-index: 40000;
}

.nightMode.header-container
{
    background: $main-background-night-mode-color;
    color: $main-foreground-night-mode-color;
}

.header
{
    height: 100%;
    display: flex;
}

.mobile-menu-button
{
    align-self: center;
    display: none;
}

.header-logo-container
{
    padding-left: $menu-element-side-spacing;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: $menu-element-side-spacing;
}

.header-logo
{
    display: block;
}

.nav
{
    
}

.nav-list
{
    display: flex;
    height: 100%;
}

.nav-list-item
{
    height: 100%;
    margin-right: $menu-element-side-spacing;
    display: flex;
}

.nav-list-item:hover .nav-list-item-el
{
    background-color: #4c5db9;
    color: #f2f2f2;
    text-shadow: 0 0 5px #ffffff;
}

.nightMode .nav-list-item:hover .nav-list-item-el
{
    background-color: $menu-element-night-mode-item-hover-background-color;
    color: white;
    text-shadow:none;
}


.nav-list-item-el
{
    font-size: $main-text-font-size;
    color: $main-foreground-color;
    text-decoration: none;
    border-radius: 6px;
    padding: 10px;
    position: relative;
}

.nightMode .nav-list-item-el
{
    color: $main-foreground-night-mode-color;
}

.nav-list-item-el-wrapper
{
    flex: 1;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-list-item-el.is-active::after
{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 3px;
    right: 3px;
    height: 3px;
    background: red;
}

.nav-list-change-loc-item
{
    cursor: pointer;
}

@media (max-width: $breakpoint-tablet)
{
    .mobile-menu-button
    {
        display: block;
    }

    .nav {
        display: none;
    }

    .header{
        padding: 0 $menu-element-side-spacing;
    }
}