/* You can add global styles to this file, and also import other style files */
$main-background-color: #3f51b5;
$main-text-font-size: 16px;
$header-footer-height: 65px;

$menu-element-side-spacing: 24px;
$menu-element-mobile-side-spacing: 16px;

$breakpoint-laptop: 1200px;
$breakpoint-big-tablet: 979px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.responsive-centered
{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: $breakpoint-laptop)
{
.responsive-centered{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
}

@media (max-width: $breakpoint-big-tablet)
{

}

@media (max-width: $breakpoint-tablet)
{

}

@media (max-width: $breakpoint-mobile)
{
    
}