<ng-container *ngFor="let data of sportData">
    <mat-accordion *ngIf="data.events && data.events.length">
        <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
            <mat-panel-title class="sport-events-tab-title">
                {{data.typeName | titlecase }} 
            </mat-panel-title>
            <mat-panel-description>
                Events number: {{data.events.length}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list class="sport-events-list">
            <mat-list-item class="sport-events-list-item" *ngFor="let event of data.events">
                <div mat-line class="sport-events-list-item-match">{{event.match}}</div>
                <div mat-line class="sport-events-list-item-tournament">{{event.tournament}}</div>
                <div mat-line class="sport-events-list-item-date">{{event.start | dateFormat: this.dateFullFormat}}</div>
            </mat-list-item>
        </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</ng-container>
