

<div class="main-container">
    <div class="first-line-list">
        <div class="first-line-list-item">
            <div class="weather-main-ch-container">
                <div class="weather-icon-container">
                    <img [src]="currentWeather.condition.icon" class="weather-icon">
                    <div class="weather-icon-descr">{{currentWeather.condition.text}}</div>
                </div>
                <div class="weather-temperature-container">
                    <div class="weather-temperature-real">{{currentWeather.temp_c}}°</div>
                    <div class="weather-temperature-feels">Feels like <span>{{currentWeather.feelslike_c}}°</span></div>
                </div>
            </div>
        </div>
        <div class="first-line-list-item weather-additional-info-list">
            <div class="weather-additional-info-item">Wind: <span>{{currentWeather.wind_dir}} {{convert(currentWeather.wind_kph, "kph_to_ms")}} m/s</span></div>
            <div class="weather-additional-info-item">Humidity: <span>{{currentWeather.humidity}}%</span></div>
            <div class="weather-additional-info-item">Cloud: <span>{{currentWeather.cloud}}%</span></div>
        </div>

        <div class="first-line-list-item weather-additional-info-list">
            <div class="weather-additional-info-item">Pressure: <span>{{convert(currentWeather.pressure_in, "pressure_inches_to_mmHg") }} mmHg</span></div>
            <div class="weather-additional-info-item">Air Quality (EPA): <span>{{getEPAStateWord(currentWeather.air_quality.us_epa_index)}}</span></div>
            <div class="weather-additional-info-item">Chance of Perception: <span>%</span></div>
        </div>
    </div>


</div>

<mat-chip-list #forecastDayList class="forecast-day-chip-list" [selectable]="true">
    <mat-chip class="example-box" (click)="selectDay(forecastDay)" 
        *ngFor="let forecastDay of forecastDays;  let i = index" [value]="forecastDay.value" [selected]="i === 0">
      {{forecastDay.name}}
    </mat-chip>
  </mat-chip-list>


<mat-tab-group class="forecast-day-hours-tab-group" (selectedIndexChange)="selectedHourChange($event)"
    headerPosition="below" [selectedIndex]="selectedHourIndex" mat-align-tabs="center">
    <ng-container *ngFor="let hour of selectedDay?.hours">
        <mat-tab label="{{hour.time | dateFormat:this.timeFormat}}">
        </mat-tab>
    </ng-container>
</mat-tab-group> 
