<mat-tab-group (selectedIndexChange)="selectedMainTabIndexChange($event)">
    <mat-tab label="Today Weather"> {{current | json}} </mat-tab>
    <mat-tab label="3-Day Weather"> 
        <mat-list>
            <mat-list-item *ngFor="let day of forecast.forecastdays">
                <div mat-line>{{day.date | dateFormat: this.dateShortFormat}}</div>
                <div mat-line>
                    <mat-tab-group headerPosition="below">
                        <ng-container *ngFor="let hour of day.hours">
                            <mat-tab label="{{hour.time | dateFormat:this.timeFormat}}">
                                {{hour | json}}
                            </mat-tab>
                        </ng-container>
                    </mat-tab-group> 
                </div>
            </mat-list-item>
          </mat-list>
    </mat-tab>
    <mat-tab label="Sports Announcements">
        <ng-container *ngIf="sportDataIsLoading">
            <mat-spinner></mat-spinner>
        </ng-container>
        <ng-container *ngIf="!sportDataIsLoading">
            <ng-container *ngFor="let data of sportData">
                <mat-accordion *ngIf="data.events && data.events.length">
                    <mat-expansion-panel [expanded]="false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="sport-events-tab-title">
                            {{data.typeName | titlecase }} 
                        </mat-panel-title>
                        <mat-panel-description>
                            Events number: {{data.events.length}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-list class="sport-events-list">
                        <mat-list-item class="sport-events-list-item" *ngFor="let event of data.events">
                            <div mat-line class="sport-events-list-item-match">{{event.match}}</div>
                            <div mat-line class="sport-events-list-item-tournament">{{event.tournament}}</div>
                            <div mat-line class="sport-events-list-item-date">{{event.start | dateFormat: this.dateFullFormat}}</div>
                        </mat-list-item>
                    </mat-list>
                    </mat-expansion-panel>
                </mat-accordion>
            </ng-container>
            <!--{{sportData | json}}-->
        </ng-container>
    </mat-tab>
  </mat-tab-group>