@import "../styles.scss";

:host
{
    height: 100%;
}

.page-container
{
    height: 100%;
}

.mobile-sidenav-container-wrapper
{
    height: 100%;
}

.mobile-sidenav-container
{
    height: calc(100% - $header-footer-height);
    margin-top: ($header-footer-height );
    box-sizing: border-box;
}

.page-after-menu-content
{
    height: 100%;
    padding-top: $header-footer-height;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.page-router-outlet
{
    flex:1;
    box-sizing: border-box;
    padding-top: $section-padding;
    padding-left: $menu-element-side-spacing;
    padding-right: $menu-element-side-spacing;
}

.page-footer
{
    padding-top: $header-footer-height;
}

@media (max-width: $breakpoint-big-tablet)
{
    .page-footer
    {
        padding-top: $section-padding;
    }
}

@media (max-width: $breakpoint-mobile)
{
    .page-router-outlet{
        padding-left: $menu-element-mobile-side-spacing;
        padding-right: $menu-element-mobile-side-spacing;
    }
}